/* 1. Tailwind Imports */
/* In v4, we use a single @import */
@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import "tailwindcss";

/* 2. Define font variable in :root */
:root {
  --font-skranji: "Skranji", system-ui;
}

/* 3. Apply globally */
html {
  font-family: var(--font-skranji);
  cursor: none;
}

